<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.edoardo.ordiniremoti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:windowSoftInputMode="stateHidden"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Activity.OrdiniRemoti"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="ordiniremoti.db" />
        <meta-data
            android:name="VERSION"
            android:value="12" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.edoardo.ordiniremoti" />

        <activity android:name=".Activity.CercaCliente"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.CercaArticolo"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.GestioneOrdini"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.GestioneRighe"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.Sincronizza"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.ImportaAnagrafiche"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.InserimentoCliente"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.Impostazioni"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.EsportaOrdini"
            android:screenOrientation="portrait"  />
        <activity android:name=".Activity.ListaOrdini"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>